@import "tailwindcss";
 

@layer utilities{

    @keyframes dangler {
        0%, 100% {transform: rotate(0deg) translateX(0); }
        50% {transform: rotate(20deg) translateX(-70px);}
    }
}

@utility dangle {
    animation: dangler 1s ease-in-out infinite;
}